@import "vendor/bootstrap/bootstrap";
@import "vendor/font-awesome/font-awesome";
@import "vendor/ionicons/ionicons";
@import "vendor/bootstrap-social";
@import "vendor/sweet-alert";
@import "themes/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 60px;
  margin-bottom: 75px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p,
  ul {
    margin-bottom: 0;
  }
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px;
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa,
[class^='ion-'] {
  margin-right: 6px;
}

aside {
  position: absolute;
  left: 0;
  li {
    list-style: none;
    display: block;
    height: 30px;
    line-height: 30px;
  }
}

html, body {
    background: #272631;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}


.container {
    background: #272631;
    color: #fff;
    width: 100%;
    .crm-container {
        border: 15px #f1eff1 solid;
        min-height: 600px;
        background: #fffdff;
        color: #292929;
        padding: 25px;
    }
    aside.main-sidebar {
        padding-top: 10px;
        ul {
            padding: 0px;
            margin: 40px 0;
            border-top: 1px #62616f solid;
            max-width: 300px;
            li {
                border-bottom: 1px #62616f solid;
                padding-left: 0px;
                height: 40px;
                a {
                    font-size: 16px;
                    padding: 0 20px;
                    display: block;
                    line-height: 40px;
                    color: #a6a8a9;
                    &:hover {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.leads-table {
    tbody {
        tr:nth-child(odd) {
            background: #f1f1f1;
        }
    }
}

//************** single lead *******************/

.bordered-container {
    padding: 10px 20px 20px 10px;
    border: 3px #000 solid;
    margin: 40px 0;
    h4.title {
        position: relative;
        font-size: 20px;
        line-height: 20px;
        padding: 3px 10px;
        background: #fffdff;
        top: -23px;
        display: inline;

    }

}

.single-lead-container {
    header {
        overflow: hidden;
        figure {
            float: left;
            margin-right: 20px;
            width: 70px;
            height: 70px;
            background: #ccc;
            border: 3px #bbb solid;
        }
    }
}
