<form>
    <div class="form-group">
        <label for="leadFirstname">Firstname</label>
        <input type="text" class="form-control" id="leadFirstname" placeholder="Enter state">
    </div>
    <div class="form-group">
        <label for="leadLastname">Lastname</label>
        <input type="text" class="form-control" id="leadLastname" placeholder="Enter state">
    </div>
    <hr />
    <div class="form-group">
        <label for="leadTitle">Title</label>
        <input type="text" class="form-control" id="leadTitle" placeholder="Enter title">
    </div>
    <div class="form-group">
        <label for="leadSubtitle">Subtitle</label>
        <input type="text" class="form-control" id="leadSubtitle" placeholder="Enter subtitle">
    </div>
    <div class="form-group">
        <label for="leadState">State</label>
        <input type="text" class="form-control" id="leadState" placeholder="Enter state">
    </div>
    <div class="form-group">
        <label for="leadSource">Source</label>
        <input type="text" class="form-control" id="leadSource" placeholder="Enter state">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>