<h1>{{ title }}</h1>
<hr />
<div>

    <form novalidate ng-submit="processForm()">
        <div class="form-group">
            <label for="leadFirstname">Firstname</label>
            <input ng-model="formData.firstName" name="leadFirstname" type="text" class="form-control" id="leadFirstname"
                   placeholder="Enter state">
        </div>
        <div class="form-group">
            <label for="leadLastname">Lastname</label>
            <input ng-model="formData.lastName" name="leadLastname" type="text" class="form-control" id="leadLastname"
                   placeholder="Enter state">
        </div>
        <div class="form-group">
            <label for="leadEmail">Email</label>
            <input ng-model="formData.email" name="leadEmail" type="email" class="form-control" id="leadEmail" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="leadPhone">Phone</label>
            <input ng-model="formData.phone" name="leadPhone" type="tel" class="form-control" id="leadPhone" placeholder="Enter phone number">
        </div>
        <hr/>
        <div class="form-group">
            <label for="leadTitle">Title</label>
            <input ng-model="formData.title" name="leadTitle" type="text" class="form-control" id="leadTitle" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="leadSubtitle">Subtitle</label>
            <input ng-model="formData.subtitle" name="leadSubtitle" type="text" class="form-control" id="leadSubtitle"
                   placeholder="Enter subtitle">
        </div>
        <div class="form-group">
            <label for="leadState">State</label>
            <input ng-model="formData.state" name="leadState" type="text" class="form-control" id="leadState" placeholder="Enter state">
        </div>
        <div class="form-group">
            <label for="leadSource">Source</label>
            <input ng-model="formData.source" name="leadSource" type="text" class="form-control" id="leadSource"
                   placeholder="Enter state">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
<br />
<pre>
    {{ formData }}
</pre>

</div>