<header class="clearfix">
    <h1 class="pull-left">{{ title }}</h1>

    <div class="pull-right">
        <a class="btn btn-success" href="/#/leads">
            Leads list
        </a>
        <a class="btn btn-success" href="/#/leads/add">
            Leads add
        </a>
    </div>
</header>
<hr/>
<div class="form-group">
    <label for="leadSearch">Search</label>
    <input id="leadSearch" type="text" ng-model="name">
</div>

<div class>
    Ilość leadów: {{ filtered.length }}
</div>
<table class="table leads-table">
    <thead>
    <th>ID</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Title</th>
    <th>Subtitle</th>
    <th>Source</th>
    <th>Details</th>
    </thead>
    <tbody>
    <tr ng-repeat="user in filtered = ( users | filter:name )">
        <td>
            {{ $index }}
        </td>
        <td>
            {{ user.contact.firstName }}
        </td>
        <td>
            {{ user.contact.lastName }}
        </td>
        <td>
            {{ user.contact.email }}
        </td>
        <td>
            {{ user.title }}
        </td>
        <td>
            {{ user.subtitle }}
        </td>
        <td>
            {{ user.source }}
        </td>
        <td>
            <a href="/#/leads/{{ user._id }}" class="btn btn-success">Details</a>

        </td>
    </tr>
    </tbody>
</table>