<div class="single-lead-container">
    <div class="lead-content col-xs-9">
        <header>
            <figure>

            </figure>

            <h2>{{lead.contact.firstName}} {{lead.contact.lastName}}</h2>

            <p>{{lead.state.name}}</p>
            <select ng-options="state as state.name for state in allStates"
                    ng-model="lead.state" ng-change="updateState()"></select>

        </header>

        <div class="bordered-container">
            <h4 class="title">Tags</h4>
            <div class="inner">
                <tags-input ng-model="tags" on-tag-added="saveTags()" on-tag-removed="saveTags()"></tags-input>
            </div>
        </div>

        <div class="bordered-container">
            <h4 class="title">Add something about {{lead.contact.firstName}} {{lead.contact.lastName}}</h4>

            <div class="inner">
                <form name="note_add_form" novalidate ng-submit="processNote()">

                    <textarea required="required" name="noteText" id="noteText" ng-model="noteData.content"
                              class="form-control"></textarea>

                    <div ng-show="note_add_form.$submitted || note_add_form.noteText.$touched" class="errors">
                    <span ng-show="note_add_form.noteText.$error.required">
                      Note is required
                    </span>
                    </div>

                    <input ng-model="noteData.parentId" type="hidden" value="{{ noteData.parentId }}"/>
                    <input ng-model="noteData.parentType" type="hidden" value="a"/>
                    <input ng-model="noteData.owner" type="hidden" value="a"/>

                    <div class="actions">

                        <select class="form-control"  ng-options="color for color in ['Interview', 'Score', 'Attachment', 'Other', 'Note']" ng-model="noteData.type">
                            <option value="Note" selected>Note</option>
                        </select>

                        <label for="note-date">When did it happen:</label>

                        <div class="input-group date" id="note-date">
                            <input type="text" class="form-control" ng-model="noteData.updatedAt"/>
                        <span class="input-group-addon">
                            <span class="ion-calendar">
                            </span>
                        </span>
                        </div>

                        <input type="submit" class="btn btn-success" value="save"/>

                        <div class="clearfix"></div>
                    </div>
                </form>
                <form name="note_upload_form" novalidate ng-submit="processUpload()">
                    <input type="file" nv-file-select uploader="uploader"/><br/>
                    <ul>
                        <li ng-repeat="item in uploader.queue">
                            attach file: <span ng-bind="item.file.name"></span>
                        </li>
                    </ul>
                </form>
            </div>
        </div>

        <div class="bordered-container single-added-note" ng-repeat="note in notes.slice().reverse()">
            <h4 class="title">{{ note.type }} about {{lead.contact.firstName}} {{lead.contact.lastName}}</h4>
            <div class="inner">
                <p>{{note.content | date}}</p>
                <ul class="files">

                    <li ng-repeat="file in note.files">
                        <a href="/file/download/{{file._id}}">{{ file.originalName }}</a>

                    </li>

                </ul>

                <div class="footer">
                    <span class="date">{{note.type}} added at {{note.createdAt | date}}</span>

                    <div class="actions">
                        <a href="" ng-click="deleteNote(note._id)"><span class="ion-trash-a"></span>Delete</a>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <aside class="personal-info col-xs-3">
        <header>
            <a href="">
                <span class="ion-edit"></span>
                Edit this person
            </a>

        </header>

        <!-- taski -->

        <div class="tasks">
            <div class="add-new-tast">
                <form name="note_add_form" novalidate ng-submit="processTask()">
                    <input ng-model="taskData.parentId" type="hidden" value="{{ taskData.parentId }}"/>
                    <div>
                        <label>Description</label>
                        <input type="text" ng-model="taskData.content"/>
                    </div>
                    <div>
                        <input type="submit" class="btn btn-success" value="save"/>
                    </div>
                </form>
            </div>
        </div>

        <!-- taski -->


        <div class="personal-info-details">
            <h4>Personal information</h4>
            <ul>
                <li>
                    Phone: {{lead.contact.phone}}
                </li>
                <li>
                    E-mail: {{lead.contact.email}}
                </li>
                <li>
                    Added: {{lead.createdAt | date}}
                </li>
            </ul>
        </div>
    </aside>
</div>

<script type="text/javascript">
    $(function () {
        $('.input-group.date').datepicker();
    });
</script>