<div class="single-lead-container">
    <div class="lead-content col-xs-9">
        <header>
            <figure>

            </figure>

            <h2>{{lead.contact.firstName}} {{lead.contact.lastName}}</h2>

            <p>{{lead.title}}</p>
        </header>

        <div class="bordered-container">
            <h4 class="title">Tags</h4>
            <input type="text" class="form-control"/>
        </div>

        <div class="bordered-container">
            <h4 class="title">Add note about {{lead.contact.firstName}} {{lead.contact.lastName}}</h4>


            <form name="note_add_form" novalidate ng-submit="processNote()">

                <textarea ng-model="noteData.content" class="form-control"></textarea>
                <input ng-model="noteData.parentId" type="hidden" value="{{ noteData.parentId }}"/>
                <input ng-model="noteData.parentType" type="hidden" value="a"/>
                <input ng-model="noteData.type" type="hidden" value="a"/>
                <input ng-model="noteData.owner" type="hidden" value="a"/>

                <div class="actions">
                    <select>
                        <option>Interview</option>
                        <option>Score</option>
                        <option>Attachment</option>
                    </select>
                    <label for="note-date">When did it happen:</label>
                    <input type="date" id="note-date"/>

                    <span><a href="">Attach file from computer</a></span>
                    <input type="submit" class="btn btn-success" value="save"/>

                    <div class="clearfix"></div>
                </div>
            </form>

            <pre>
            {{ noteData }}
        </pre>


        </div>

    </div>
    <aside class="personal-info col-xs-3">
        <header>
            <a href="">
                <span class="ion-edit"></span>
                Edit this person
            </a>

        </header>

        <div class="personal-info-details">
            <h4>Personal information</h4>
            <ul>
                <li>
                    Phone: {{lead.contact.phone}}
                </li>
                <li>
                    E-mail: {{lead.contact.email}}
                </li>
                <li>
                    Added: {{lead.createdAt | date}}
                </li>
            </ul>
        </div>
    </aside>
</div>